# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

build
node_modules
ncp-debug.log
npm-debug.log
*.DS_Store*
coverage

#Test Files
test-report-mocha.xml
test-report-jest.xml